html {
    background-color: rgb(255, 166, 134);
    background-image: url("images/1-big-viburnum.jpg");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
}
.header{
    background-color:rgba(255, 166, 134,80%);
    padding:30px;
}
.main{
    background-color:rgba(255, 166, 134, 80%);
    padding:30px;
}