.header {
    background-image: url("images/3-fruit.jpg");
    height:300px;
}
.site-id {
    text-align: center;
    background-color: rgba(255,255,255, 80%);
    border-top: 4px solid crimson;
    padding: 20px;
}